*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.close-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  border: none;
  text-decoration: none;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  margin: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 3rem;
  max-width: 40rem;
  box-shadow: 1rem 1rem 5rem rgba(black, 0.3);
}
.form__input--1 {
  display: flex;
  width: 100%;
  gap: 10px;
}
.form__input--1 > * {
  flex-grow: 1;
}

.form__input--2 {
  display: block;
  width: 100%;
}

.form__input {
  padding: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid rgb(184, 184, 184);
}

.disclaimer {
  max-width: 70%;
  font-size: 0.8rem;
}

.register {
  display: inline-block;
  background-color: blue;
  font-weight: 900;
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
  border: none;
}

.terms {
  color: rgb(101, 101, 236);
}

.form__button {
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 1.1rem;
}

.form__button--blue {
  background-color: blue;
}

.form__button--green {
  background-color: green;
}

@media (max-width: 500px) {
  form {
    padding: 1.5rem;
    margin: 1rem;
  }
  .form__input--1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .disclaimer {
    max-width: 100%;
  }
}
